.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #000f36;
}
.trans-btn-white-border:hover{
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-text-fill: #000f36;
    -fx-font-size: 18px;
    -fx-font-weight: bold ;
}